<div class="container data-room-id="<%= @room.id %>>
    <h1> <%= @room.name %> </h1>
  <div class="chatroom">
    <%= render "messages" %>
    <div class="row msg-submition">
      <%= form_with(model: @room, local: true, class: "form-horizontal") do |form| %>
        <div class="form-group col-xs-11">
          <%= form.label :message, class: "sr-only"%>
          <%= form.text_field :message, class: "form-control" %>
        </div>

        <div class="actions col-xs-1">
          <%= form.submit "Send", class: "btn" %>
        </div>

      <% end %>
    </div>
  </div>

  <div class="show-link-btns">
    <%= link_to 'Edit group', edit_room_path(@room), class: "btn btn-white" %>
    <%= link_to '<span class="glyphicon glyphicon-arrow-left"></span> Go back to all groups'.html_safe, rooms_path, class: "btn btn-white" %>
  </div>



</div>
