<div class="container" data-room-id="<%= @room.id %>">
  <h1> <%= @room.name %> </h1>
  <div class="chatroom">
    <%= render "messages" %>
    <%= render "new_message" %>
  </div>

  <div class="show-link-btns">
    <%= link_to 'Edit group', edit_room_path(@room), class: "btn btn-white" %>
    <%= link_to '<span class="glyphicon glyphicon-arrow-left"></span> Go back to all groups'.html_safe, rooms_path, class: "btn btn-white" %>
  </div>



</div>
