<!DOCTYPE html>
<html>
  <head>
    <title>Chataro</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Font awesome Iconts -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>

  <body>
    <!-- main body here -->
    <div class="anchor">
      <!-- flash messages -->
      <div class="container">
        <% if notice %>
          <p id="notice" class="alert alert-success", role="alert"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p id="alert" class="alert alert-danger", role="alert"><%= alert %></p>
        <% end %>
      </div>

      <div class="main-body">
        <%= yield %>
      </div>
    </div>

  </body>
</html>
