<!DOCTYPE html>
<html>
  <head>
    <title>Chataro</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- main body here -->
    <div class="anchor">
      <!-- flash messages -->
      <div class="container">
        <% if notice %>
          <p id="notice" class="alert alert-success", role="alert"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p id="alert" class="alert alert-danger", role="alert"><%= alert %></p>
        <% end %>
      </div>

      <div class="main-body">
        <%= yield %>
      </div>
    </div>

  </body>
</html>
